body{
     margin:0 auto;
     padding:0 auto;
     text-align:center;
}

h1,h2,p,button,label,input,form,span{
     font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h1{
     font-size:3rem;
}
p,button,label,input,form{
     font-size:1.1rem;
}
span{
     padding:.34rem;
     line-height:2.2rem;
     font-weight:600;
}
span:hover{
     cursor:copy;
     padding:.4rem;
}

h1,h2,form{
     text-align:center;
}

#result{
     width:60%;
     margin:0 auto;
     text-align:left;
}

button{
     padding:.55rem 1rem;
     margin:0rem;
     font-size:1rem;
     border:2px solid #000;
     border-radius:20px;
     transition:.2s;
     cursor:pointer;
}

button:active{
     padding:.44rem .9rem;
     margin:.2rem .3rem;
     font-size:.9rem;
}

#generateText{
     background:#afffab;
}
#generateText:hover{
     background:#c498ed;
}
#copyAllText{
     background:#ebc4ff;
}

#copyAllText:hover{
     background:#ffb54d;
}

.info{
     font-size:.95rem;
     color:#555;
}

.info a{
     color:#61546e;
}

.info a:hover{
     color:#9358cc;
}

#result p{
    margin:0px;
}
